@charset "UTF-8";

    body{
        background-color: goldenrod; font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        h1{
        color: darkred;
        background-color: lightgoldenrodyellow;
        }
        h2{color: maroon;

        }
        p{
        text-align: justify;
        }
        }