.container{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
}
.caixa1{
    background: lightgreen;
    grid-area: 1 / 1 / 1 / -1;
}
.caixa2{
    background: lightcoral;
    grid-area: 2 / 1 / 4 / 5;
}
.caixa3{
    background: lightblue;
    grid-area: 2 / 3 / 5 / 5;
}