@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}
:root{
    --cor0: #61FF8B;
    --cor1: #74D58E;
    --cor2: #79AA86;
    --cor3: #708074;
    --cor4: #405546;
    --cor5: #1E3324;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}
nav{
    background-color: var(--cor5);
    padding: 7px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
}

nav > a{
    color: var(--cor0);
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .2s;
}

nav > a:hover{
    background-color: var(--cor0);
    color: var(--cor5);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent)
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 4px 2px ;
    border-radius: 2px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);
    transition-duration: .1s;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
}

aside h3{
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    color: white;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    font-size: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}