@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root{
 --fonte-titulo: 'Passion One';
 --fonte-texto: 'Patrick Hand';
 --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
}

header{
    background-color: black;
    color: white;
    min-height: 150px;
    text-align: center;
}

header  h1{
    font-family: var(--fonte-titulo);
    font-size: 68px;
    font-weight: bold;
    padding-top: 30px;
}

nav p{
    padding-top: 0px;
    font-family: var(--fonte-padrao);
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav a:hover{
    text-decoration: underline;
}