@charset "UTF-8";
    
    body{
        background-color: rgb(98, 211, 98);
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        color: rgb(0, 77, 0);
    }
    h1#principal{
        text-align: center;
        background-color: rgb(0, 77, 0);
        color: white;
    }
    h2{
        color: green;
    }
    .basico{
        color: green;
        font-weight: bold;
    }
    .intermed{
        color: yellow;
    }
    .avancado{
        color: red;
    }
