@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html{
    background: lightgray;
    height: 100vh;
    width: 100vw;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: gray;
    padding: 10px;
}
header > h1{
    flex: 0 0 200px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}
nav a:hover{
    background: white;
    color: black;
    transition: background .3s;
}
main{
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
@media screen and (max-width:600px) {
    header, nav{
        flex-flow: column nowrap;
    }
    header > h1{
        flex-basis: 50px;
    }
    nav a{
        width: 90vw;
    }
}