@charset "UTF-8";

*{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    font-size: 33px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}

img{
    display: block;
    margin: auto;
}

#phone{display: block;
    height: 170px;
}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }
#phone{display: none;}
#tablet{display: none;}
#print{display: block;
height: 170px;}
#pc{display: none;}
#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
#phone{display: none;}
#tablet{display: block;
height: 170px;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
#phone{display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: block;
height: 170px;}
#tv{display: none;}
}

@media screen and (min-width: 1300px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
#phone{display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: block;
height: 170px;}
}
