@charset "UTF-8";
 
body{
            background-color: rgb(54, 49, 49);
        }
        .centralizar{
            text-align: center;
        }
        h1{
            color: aliceblue;
        }
        p{
            color: aliceblue;
        }