@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header h1{
    padding: 10px;
    text-align: center;
}
#burguer{
    background-color: rgb(53, 53, 53);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: lightgray;
}
main{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
main article{
    padding-bottom: 10px;
}
article p{
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 10px;
}