@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: 80px 40px 1fr 40px / 2fr 1fr;
}
header{
    background-color: blueviolet;
    grid-area: 1 / 1 / 1 / 4;
}
menu{
    background-color: burlywood;
    grid-area: 2 / 1 / 2 / 4;
}
#principal{
    background-color: dimgray;
    grid-area: 3 / 1 / 3 / 3;
}
#secundario{
    background-color: brown;
    grid-area: 3 / 3 / 3 / 4;
}
footer{
    background-color: lightsalmon;
    grid-area: 4 / 1 / 4 / 4;
}